---
# handlers file for haproxy

- name: start haproxy
  service:
    name: haproxy
    state: started

- name: stop haproxy
  service:
    name: haproxy
    state: stopped

- name: restart haproxy
  service:
    name: haproxy
    state: restarted

- name: reload haproxy
  service:
    name: haproxy
    state: reloaded
